
<div id="page-header" class="row-fluid">

  <div id="current-points" class="span3">
    <span id="current-points-number"></span> / <%= @member.quota %>
  </div>


  <div class="span9">
    <h1><%= @member.first_name %>'s Todos for this week</h1>
  </div>

</div>




<div class="row-fluid">

	<div class="span6 well">
		<h2>Tasks Needing Doin'</h2>
		<% @incompleted_todos.each do | todo | %>
	    <div id="<%= todo.id %>" class="span5 todo-box " week="<%= todo.week %>">

		<p class="todo-title">
			<%=raw todo_checkbox todo, {:action => 'completion'} %>
      <%= todo.task.name %><br/>
    </p>
    <p class="todo-details">
      <% if todo.due_today? %>
        <span class="due-today">Due Now!</span>
      <% end %>
  
  		<%= todo.due_on_as_text %> for <%= todo.task.points %> points
	
  	</p>

		</div>		
		<% end %>
	</div>


	<div class="span6 well">
		<h2>Tasks Done!</h2>

		<% @completed_todos.each do | todo | %>
		
		    <div id="<%= todo.id %>" class="span5 todo-box " week="<%= todo.week %>">

			<p>
			<%=raw todo_checkbox todo, {:action => 'completion'} %>
			<%= todo.task.name %> completed  
			for <%= todo.task.points %> points...
			</p>
		</div>
		<% end %>


	</div>

</div>




<script>
  
  $(document).ready(function(){
    $('input').change(function(){
        var endpoint = '/todos';
        var url = endpoint
        var is_checked = $(this).is(':checked');
        var action = 'incomplete';
        var id = $(this).val();

        if( is_checked){
          var action = 'complete';
        }

        var member_id = <%= session[:member][:id] %>

        url = endpoint + '/' + id + '/' + action + '/' + member_id;
        
        console.log('send to ' + url) ;

        $.ajax(
            {
              url:url,
              //type: "POST",
              //contentType:"application/json; charset=utf-8",
              //dataType:"json",
              
              success:function(result){
                calculate_points();
                },
              error:function(result){
              	console.log(result)
              }

          });


    })


      
      function calculate_points(){
        var totes = 0;
        $('span#current-points-number').text(totes);
        
        $('input.completion-checkbox:checked').each(function(){
          totes = totes +  $(this).attr('points') * 1;
          //console.log(totes)
          $('span#current-points-number').text(totes);
        })
      }

      calculate_points();
  })

</script>