 <h3>Login to The Chore Board</h3>



  <%= image_tag("sign-in-with-chortle.png", :width => 200, :id => 'chortle-btn') %>
  <%= link_to image_tag("sign-in-with-google.png", :width => 200), "/auth/google" %>
  
<div id="login-form" style="display:none">

  <%= form_tag process_login_path do |f| %>

   <div class="field">
      <%= label_tag :email %>
      <%= text_field_tag :email %>
    </div>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>

    <div class="actions">
      <%= submit_tag "Login", :class => "btn btn-primary action-button" %>
    </div>


  <% end %>
</div>


<script>

  $(document).ready(function(){
    $('img#chortle-btn').click(function(){
      $('div#login-form').fadeIn();
    })
  })
</script>