<div class="row-fluid">
  <div class="span8">
    <h1>Todos for this Week</h1>
  </div>

  <div id="current-points" class="span3 pull-right">
     <span id="current-points-number"></span> points
  </div>
</div>


<div class="row-fluid">
<div id="action-box" class="span12">
    
    <div class="action-alter pull-right">
        <button id="show-available" class="btn">Show Available Only</button>
        <button id="show-all" class="btn">Show All</button>
    </div>


</div>
</div>






<% @todos.keys.each do | key | %>
<div class="row-fluid">
<div class="span12 well">
    <h2>By the <%= key.capitalize %></h2>
    
    <% @todos[key].each do | todo | %>
    
    <div id="<%= todo.id %>" class="span5 todo-box <%= key %>" week="<%= todo.week %>">

      <p class="todo-title">
       <%=raw todo_checkbox(todo) %>
       <%= todo.task.name %>
      </p>
       
      <p class="todo-details">
        Worth <%= todo.task.points %> points<br/>
        Due on <%= todo.due_on.strftime("%A %m/%d/%Y") %>
      </p>

    </div>

      
    <% end %>
</div>
</div>
<% end %>



<script>
  
  $(document).ready(function(){
    
    $('button#show-available').click(function(){
        $('input:checked').closest('div.todo-box').fadeOut();
    });

    $('button#show-all').click(function(){
        $('input:checked').closest('div.todo-box').fadeIn();
    });

    $('input').change(function(){
        var endpoint = '/todos';
        var url = endpoint
        var is_checked = $(this).is(':checked');
        var action = 'unassign';
        var id = $(this).val();

        if( is_checked){
          var action = 'assign';
        }

        var member_id = <%= session[:member][:id] %>

        url = endpoint + '/' + id + '/' + action + '/' + member_id;
        
        console.log('send to ' + url) ;

        $.ajax(
            {
              url:url,
              //type: "POST",
              contentType:"application/json",
              //dataType:"json",
              
              success:function(result){
                calculate_points();
                },
              error: function(data){
                alert('There was a problem: ' + data.statusText)
                console.log(data);
              }
          });


    })

      $('div.todo-box.day').hide();
      
      $('div.todo-box').filter('.day').each(function(){
        if($(this).attr('week') == <%= @week %> ){
          $(this).fadeIn();
        }
      })


      function calculate_points(){
        var totes = 0;
        $('span#current-points-number').text(totes);
        
        $('input.assignment-checkbox:checked').each(function(){
          totes = totes +  $(this).attr('points') * 1;
          //console.log(totes)
          $('span#current-points-number').text(totes);
        })
      }

      calculate_points();
  })

</script>