<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chortle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <%= stylesheet_link_tag    "main", :media => "all" %>
  <%= stylesheet_link_tag    "bootstraps/bootstrap.min", :media => "all" %>
  <%= stylesheet_link_tag    "bootstraps/bootstrap-override", :media => "all" %>
  <%= stylesheet_link_tag    "bootstraps/bootstrap-responsive.min", :media => "all" %>
  <%= stylesheet_link_tag    "main", :media => "all" %>
  <%= stylesheet_link_tag    "main-responsive", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  </head>

  <body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">

  <!-- Navbar
    ================================================== -->
 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="/">Chortle << Boards </a>
       <div class="nav-collapse collapse" id="main-menu">
        <ul class="nav" id="main-menu-left">
            
            <!-- left menu items -->         

        </ul>

        <ul class="nav pull-right" id="main-menu-right">

            <% if session[:member] %>

             <li><%= link_to "My Todos", home_path %></li>
             <li><%= link_to "Available Tasks", family_todos_path(@family) %></li>
             
             <% if session[:member][:admin] %>
             <li><%= link_to "Admin Panel", admin_home_path %></li>
             <li><%= link_to "Manage Tasks", family_tasks_path(@family) %></li>
             <% end %>

              <li><a rel="tooltip" href="<%= logout_path %>" title="Logout" >Logout
                <i class="icon-share-alt"></i>
             </a></li>

            <% else %>
               <li><a rel="tooltip" href="<%= login_path %>" title="Login to manage" >Login
               <i class="icon-share-alt"></i>
             </a></li>
            <% end %>

        </ul>
       </div>
     </div>
   </div>
 </div>

    <div class="container">


<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="row">
    <div class="span6">
    </div>
    <div class="span6">
     </div>
  </div>
    <!--
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="/countires">Countires</a></li>
      <li><a href="/history">History</a></li>
      
    </ul>
  </div>
  -->
</header>

    <% if flash[:notice] %>
      <div class="alert alert-success span12">
        <%= flash[:notice] %>
      </div>
    <% end %>


<%= yield %>

     <!-- Footer
      ================================================== -->
      <hr>

      <footer id="footer">
       
        Devleoped by <a href="#">Multiplied by Infinity</a>. 
      
            <% if session[:member] %>
            <p>Logged in as <%= session[:member][:name] %></p>
            <% end %>
        <% if params.has_key? :debug %>
      
          <div id="debug">  
          <% if session[:member] %>
            

            <%= debug session[:member] %>
          <% end %>

          <%= debug params %>
           </div> 

    <% end %>  
      </footer>

    </div><!-- /container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/assets/jquery.smooth-scroll.min.js"></script>

    


  </body>
</html>
