<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, :value => @member.password %>
  </div>

  <div class="field">
    <%= f.label :required_points %>
    <%= f.number_field :required_points %>
  </div>

  <div class="field date-field" >
    <%= f.label :birthdate %>
    <%= f.date_select :birthdate %>
  </div>


  <div class="field">
    <%= f.label :member_type %>
    <%= f.collection_select :member_type_id, MemberType.all, :id, :name %>
  </div>

  <div class="field checkbox-field">
    <%= f.check_box :is_admin %>
    <%= f.label :is_admin, "This member is a family admin" , :class => 'inline' %>
  </div>

  <%= f.hidden_field :family_id, :value => @member.family.id  %>

  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
