<h1>Family Members</h1>

<div class="row">
<% @members.each do |member| %>
    <div class="member-profile well span5">  
    <h3><%= member.first_name %>
    <%= member.last_name %>
    </h3>
    <p>
        Email: <%= member.email %> <br />
        
        Birthdate: <%= member.birthdate %><br />
        Family: <%= member.family %><br />
        Type: <%= member.member_type %><br />
        This weeks quota: <%= member.quota %><br />
        Points needed: <%= member.needed_points %><br />
    </p>
    
        <div class="actions">
            <%= link_to 'View', family_member_path(member.family.slug, member), :class => "btn btn-small" %>
            <%= link_to 'Update', edit_family_member_path(member.family.slug, member), :class => "btn btn-small"%>
            <%= link_to 'Remove', family_member_path(member.family.slug, member), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-small btn-warning" %>
        </div>
    </div>
<% end %>
</div>

<br />

<%= link_to 'New Member', new_family_member_path(params[:family_id]) %>
